name: Build TX for Multisig Operation

on:
  workflow_dispatch:
    inputs:
      transaction_type:
        description: "select transaction type to create"
        type: choice
        options:
          - upgrade-walrus-subsidies
          - set-walrus-subsidy-rates
      gas_object_id:
        description: "object id to get gas from for multisig transaction"
        required: false
        type: string
      commit:
        description: "commit hash of the walrus repo to create the transaction"
        required: true
        type: string
      base_subsidy_frost:
        description: "base subsidy in FROST (only for set-walrus-subsidy-rates)"
        required: false
        type: string
      per_shard_subsidy_frost:
        description: "per shard subsidy in FROST (only for set-walrus-subsidy-rates)"
        required: false
        type: string
      subsidy_rate_basis_points:
        description: "subsidy rate in basis points (only for set-walrus-subsidy-rates)"
        required: false
        type: string

jobs:
  create-tx:
    name: Create TX for multisig
    runs-on: ubuntu-latest

    steps:
      - name: Selected transaction type
        run: |
          echo ${{ inputs.transaction_type }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v6.0.1
        with:
          fetch-depth: 1
          ref: ${{ inputs.commit }}

      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          echo "/home/linuxbrew/.linuxbrew/bin" >> $GITHUB_PATH

      - name: Install Sui using Homebrew
        run: brew install sui

      - name: Setup sui client config
        run: |
          sui client switch --env mainnet

      - name: Create unsigned transaction for multisig
        run: |
          mkdir -p artifacts
          ./scripts/create_multisig_tx.sh \
            -t '${{ inputs.transaction_type }}' \
            -g '${{ inputs.gas_object_id }}' \
            -b '${{ inputs.base_subsidy_frost }}' \
            -s '${{ inputs.per_shard_subsidy_frost }}' \
            -r '${{ inputs.subsidy_rate_basis_points }}' \
            >artifacts/tx-data.txt

      - name: Show Transaction Data (To sign)
        run: |
          cat artifacts/tx-data.txt

      - name: Upload Transaction Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # pin@v5.0.0
        with:
          name: transaction-data
          path: artifacts/tx-data.txt
