name: Build and deploy GitHub Pages preview for PRs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - "docs/**"
      - ".github/workflows/pages-preview.yaml"

concurrency: preview-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

jobs:
  build-with-linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # pin@v4.2.0
        with:
          version: 9
        if: github.event.action != 'closed'
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # pin@v6.2.0
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: docs/site/pnpm-lock.yaml
        if: github.event.action != 'closed'
      - name: Install dependencies
        run: cd docs/site && pnpm install --frozen-lockfile
        if: github.event.action != 'closed'
      - name: Build site
        run: cd docs/site && pnpm run build
        if: github.event.action != 'closed'

  preview:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'MystenLabs'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # pin@v4.2.0
        with:
          version: 9
        if: github.event.action != 'closed'
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # pin@v6.2.0
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: docs/site/pnpm-lock.yaml
        if: github.event.action != 'closed'
      - name: Install dependencies
        run: cd docs/site && pnpm install --frozen-lockfile
        if: github.event.action != 'closed'
      - name: Build site
        run: cd docs/site && DOCUSAURUS_BASE_URL="/walrus/pr-preview/pr-${{ github.event.number }}/" pnpm run build
        if: github.event.action != 'closed'
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@ffa7509e91a3ec8dfc2e5536c4d5c1acdf7a6de9 # pin@v1.8.1
        with:
          source-dir: docs/site/build
