name: Build and deploy GitHub Pages preview for PRs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - "docs/site/**"
      - ".github/workflows/pages-preview.yaml"

concurrency: preview-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

jobs:
  build-with-linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v6.0.1
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # pin@v4.2.0
        with:
          version: 9
        if: github.event.action != 'closed'
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # pin@v6.1.0
        with:
          node-version: '18'
          cache: 'pnpm'
          cache-dependency-path: docs/site/pnpm-lock.yaml
        if: github.event.action != 'closed'
      - name: Install dependencies
        run: cd docs/site && pnpm install --frozen-lockfile
        if: github.event.action != 'closed'
      - name: Build site
        run: cd docs/site && pnpm run build
        if: github.event.action != 'closed'

  preview:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'MystenLabs'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v6.0.1
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # pin@v4.2.0
        with:
          version: 9
        if: github.event.action != 'closed'
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # pin@v6.1.0
        with:
          node-version: '18'
          cache: 'pnpm'
          cache-dependency-path: docs/site/pnpm-lock.yaml
        if: github.event.action != 'closed'
      - name: Install dependencies
        run: cd docs/site && pnpm install --frozen-lockfile
        if: github.event.action != 'closed'
      - name: Build site
        run: cd docs/site && DOCUSAURUS_BASE_URL="/walrus/pr-preview/pr-${{ github.event.number }}/" pnpm run build
        if: github.event.action != 'closed'
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@5fd5f8e2f88e735fc3d1151302b32242037e3962 # pin@v1.8.0
        with:
          source-dir: docs/site/build
