name: Build and deploy GitHub Pages preview for PRs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - "book.toml"
      - "docs/book/**"
      - "docs/theme/**"
      - "docs/mdbook-admonish.css"
      - "setup/**"
      - ".github/actions/build-mdbook/action.yaml"
      - ".github/workflows/pages-preview.yaml"

concurrency: preview-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write

jobs:
  build-with-linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin@v6.0.0
      - uses: ./.github/actions/build-mdbook
        if: github.event.action != 'closed'

  preview:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'MystenLabs'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin@v6.0.0
      - uses: ./.github/actions/build-mdbook
        with:
          with_linkcheck: "false"
        if: github.event.action != 'closed'
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@8ff09e486b4c23709012eedd3b42e9f0b95dd0c5 # pin@v1.6.3
        with:
          source-dir: docs/build/html
