name: Build docs and publish to GitHub Pages and Walrus

on:
  push:
    branches:
      - "main"
    paths:
      - "book.toml"
      - "docs/book/**"
      - "docs/theme/**"
      - "docs/mdbook-admonish.css"
      - "setup/**"
      - ".github/actions/build-mdbook/action.yaml"
      - ".github/workflows/publish-docs.yaml"
  workflow_dispatch:
    inputs:
      publish-pages:
        description: "Publish to GitHub Pages"
        type: boolean
        required: true
        default: false
      update-walrus-site:
        description: "Update the Walrus Site"
        type: boolean
        required: true
        default: false
  schedule:
    # Update Walrus Site every first day of the month at 03:14 UTC.
    - cron: "14 3 1 * *"

concurrency: ci-${{ github.ref }}

permissions:
  contents: read

jobs:
  publish-github-pages:
    name: Publish to GitHub Pages
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || inputs.publish-pages == true }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin@v6.0.0
      - uses: ./.github/actions/build-mdbook
        with:
          with_linkcheck: "false"
      - name: Update GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # pin@v4.7.4
        with:
          folder: docs/build/html
          clean-exclude: pr-preview/
          force: false

  # We store the data for the Sui wallet and the site object in GitHub variables
  # (https://github.com/MystenLabs/walrus/settings/variables/actions) and secrets
  # (https://github.com/MystenLabs/walrus/settings/secrets/actions).
  publish-walrus:
    name: Update Walrus Site
    runs-on: ubuntu-ghcloud
    if: ${{ github.event_name == 'push' || github.event_name == 'schedule' || inputs.update-walrus-site == true }}
    env:
      # Colors don't seem to work properly with the multiline commands.
      NO_COLOR: 1
      RUST_LOG: info
      EPOCHS: 10
      BUILD_DIR: docs/build/html
    concurrency:
      group: sui-wallet-operations
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin@v6.0.0
      - uses: ./.github/actions/build-mdbook
        with:
          with_linkcheck: "false"
      - uses: ./.github/actions/set-up-walrus
        with:
          SUI_ADDRESS: "${{ vars.SUI_ADDRESS }}"
          SUI_KEYSTORE: "${{ secrets.SUI_KEYSTORE }}"
          WALRUS_CONFIG: "${{ vars.WALRUS_CONFIG }}"
          SUI_NETWORK: mainnet
          SITE_BUILDER_VERSION: v1 # use v1 temporarily

      - name: Update Walrus Site
        run: >
          site-builder
          update ${{ env.BUILD_DIR }} ${{ vars.WALRUS_SITE_OBJECT_DOCS }}
          --epochs ${{ env.EPOCHS }}
          --check-extend
