name: Updates

on:
  # Run workflow on the first day of every month.
  schedule:
    - cron: "14 3 1 * *"
  # Run workflow on demand.
  workflow_dispatch:

jobs:
  pre-commit:
    name: "Update pre-commit hooks and run them on all files"
    runs-on: ubuntu-ghcloud
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # pin@v6.2.0
        with:
          python-version: "3.12"
      - name: Install correct Rust toolchain
        run: rustup update && rustup toolchain install
      - run: pip install pre-commit
      - name: Run pre-commit autoupdate
        run: >
          pre-commit autoupdate
          --repo https://github.com/pre-commit/pre-commit-hooks
          --repo https://github.com/editorconfig-checker/editorconfig-checker.python
          --repo https://github.com/crate-ci/typos
          --repo https://github.com/EmbarkStudios/cargo-deny

      - name: Get Sui tag
        shell: bash
        run: |
          export SUI_TAG=$(grep '^sui-config' ./Cargo.toml | grep 'github.com/MystenLabs/sui' \
            | sed -nE 's/.*tag = "(testnet-v[0-9]+\.[0-9]+\.[0-9]+)".*/\1/p')
          echo "SUI_TAG=${SUI_TAG}" >> $GITHUB_ENV

      - name: Restore cached sui binary
        id: cache-sui-restore
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # pin@v5.0.2
        with:
          path: "/home/runner/.cargo/bin/sui"
          key: ${{ runner.os }}-${{ runner.arch }}-${{ env.SUI_TAG }}
      - name: Install sui
        if: steps.cache-sui-restore.outputs.cache-hit != 'true'
        run: |
          cargo install --locked --git https://github.com/MystenLabs/sui.git --tag $SUI_TAG --debug sui
      - uses: taiki-e/install-action@970d55e3ce02a46d60ffae7b4fab3dedace6e769 # pin@v2.49.13
        with:
          tool: cargo-nextest

      - run: pre-commit run --all-files
      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # pin@v8.1.0
        if: ${{ success() }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: chore/update-pre-commit-hooks
          title: "chore: update pre-commit hooks"
          commit-message: "chore: update pre-commit hooks"
          body: Update pre-commit hooks to latest version.
      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # pin@v8.1.0
        if: ${{ failure() }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: chore/update-pre-commit-hooks
          title: "chore: update pre-commit hooks"
          commit-message: "chore: update pre-commit hooks"
          body: |
            Update pre-commit hooks to latest version.

            **Warning**: Some checks did not succeed. Please check the [action output][run] before merging this PR.

            [run]: https://github.com/MystenLabs/walrus/actions/runs/${{ github.run_id }}
